@model Factory.Models.Engineer
@using Factory.Models

<h2> @Html.DisplayFor(model => model.EngineerName) </h2>


<p>@Html.ActionLink("Back to engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add a machine", "AddMachine", new {id = Model.EngineerId})</p>
